<h1>Stupid Coaching</h1>

<div id="question-block">
  <%= @question %>
  <p> - <i>You</i></p>
</div>

<div id="answer-block">
<%= @answer %>
<p> - <i>Your coach</i></p>
</div>

<%= link_to 'Ask a new question', '/ask' %>
